<form id = "event_form" action="/events/create" method="post">
  <p> Enter an event </p>
  <input type="text" name="organizer_name" placeholder="organizer name">
  <input type="text" name="organizer_email" placeholder="organizer email">
  <input type="text" name="title"placeholder="title">
  <input type="text" name="date" placeholder="date">
  <input type="submit" value="create event">
    </form>
